@{
    string url = ViewBag.orgURL;
}
@{
    <center>
        <img src="~/logos/payment_fail.png" alt="what image shows" height="150" width="200">
        <p>
            <h2>
                <b>
                    Your payment was Failed :(
                </b>
            </h2>
        </p>
        <p>
            <h4>
                Thank you for your payment. Kindly try again later.
            </h4>
        </p>

    
            <a class="btn btn-danger" href="@url"><p style="color:white;"><b>Return to Website</b></p></a>
        
        </center>
}
