@{ 
    string url = ViewBag.orgURL;
}
@{
    <center>
        <img src="~/logos/successful_payment.png" alt="what image shows" height="150" width="200">
        <p>
            <h2>
                <b>
                    Your payment was successful
                </b>
            </h2>
        </p>
        <p>
            <h4>
                Thank you for your payment. Kindly check your email for Invoice.
            </h4>
        </p>

     
            <a class="btn btn-success" href="@url"><p style="color:white;"><b>Return to Website</b></p></a>

        

    </center>
    }